input[type="file"] {
    display: none;
}

#qr-canvas {
  width: 100%;
  max-width: 100%;
  outline-style: solid;
  outline-width: 0.5px;
}

#datepicker {
	max-width: 300px;
	color: #fff;
	border: 0;
	background-image: linear-gradient(310deg, #f53939 0%, #fbcf33 100%);
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
}